<%- include("partials/header") %>
 <div class="general_page">
     <h2>About Us</h2>
     <div class="general-box">
     <p>We supply a variety of Fresh Produce to retail stores in and around Durban, South Africa.</p>
     </div>
 </div>
<%- include("partials/footer") %>