<%- include("partials/header") %>
 <div class="general_page">
     <h2>Contact Us</h2>
     <div class="general-box">
     <h5>Contact <strong>Aslam:</strong></h5>
     <p><strong>Call:</strong> 0837862956</p>
     <p><strong>Email:</strong><%=user.email%></p>
     </div>
 </div>
<%- include("partials/footer") %>