<%- include("partials/header") %>
 <div class="general_page">
     <h2>Common Questions</h2>
     <div class="general-box">
     <p><strong>How do I add/remove a product to/from my order?</strong> Place the cursor into the quantity selection box and type a quantity or use the arrows to increase or decrease the quantity.  Click the "Add to Cart" button.  To remove an item from your order, click the item's bin icon.  You may also change the quantity or remove an item on the cart page.</p>
     <p><strong>How do I view my current order?</strong> Click the cart button on the navigation bar.  The cart icon displays the number of items in your cart. To view the navigation bar on mobile, click the box on the top right of your screen.</p>
	<p><strong>How do I make changes to an order already submitted?</strong>You cannot make changes after the order has been submitted.  Please contact the supplier.</p>
	<p><strong>How do I view my past orders?</strong> Click on "Orders" on the navigation bar.  Click on the order number to open the order. We may delete records of orders older than 60 days.</p>
		 <p><strong>How do I change my email or password?</strong> Click on your profile name drop down on the navigation bar.  Click on "My Account". Submit the form.</p>
		
     </div>
 </div>
<%- include("partials/footer") %>