<%- include("partials/header") %>
<div class="email-form">
<div class="login_form">
		<form  action="/newPassword/?_method=PUT" method="POST" id="change-pass">
			 <h3>Change Password</h3>
			<div class="mb-3">
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old Password" required>
            </div>
			<div class="mb-3">
            <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" required>
            </div>
			<div class="mb-3">
                <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="Re-type Password" required>
            </div>
            <button type="button" class="form_button" id="pass_button">Submit</button>
        </form>
		<div id="pass-match"></div>
		<div class="form-cont">
		<% if (successMessage && successMessage.length > 0) { %>
		<div class="alert-success">
		<%= successMessage %>
  		<span class="alertbtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		</div>
		<% } %>
		<% if (errorMessage && errorMessage.length > 0) { %>
		<div class="alert-danger">
		<%= errorMessage %>
  		<span class="alertbtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		</div>
		<% } %>
		</div>
    	</div>
</div>
	<script>
		document.querySelector("#pass_button").addEventListener('click', () => {
	if (document.querySelector("#newpassword").value === document.querySelector("#newpassword2").value) {
		 document.querySelector("#change-pass").submit();
	} else {
		document.querySelector("#pass-match").innerHTML = `<div class="form-cont">
	<div class="alert-danger">
	Passwords Do Not Match!
  	<span class="alertbtn" onclick="this.parentElement.style.display='none';">&times;</span> 
	</div>
	</div>`;
	}	
	})
	</script>
<%- include("partials/footer") %>